/bin/
/init.jasper
/test-book.jasper
/test-book_backcover.jasper
/test-book_cover.jasper
/test-book_toc.jasper
/Abstract_Book.jasper
/Abstract_Book_cover.jasper
/Abstract_Book_backcover.jasper
/Abstract_Book_toc.jasper
/Conditional_image.jasper
/Blank_A4.jasper
